.box{
    border: 3px solid black;
    height: 90px;
    width: 90px;
    margin-left: 200px;
    margin-top: 300px;
    background-color: orange;
    transform: scaleX(5);
    transform: rotateZ(45deg);
    
    
}